body{
    height: 100%;
    width: 100%;
}

.game__content {
    width: 25%;
    display: flex;
    margin: 8% auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game__points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid black 1px;
    border-collapse: collapse;
}

tr, th, td {
    padding: 5px;
    border: solid black 1px;
}

h4{
    font-size: 30px;
}

/* Icon */

i.fa.fa-hand-rock-o, i.fa.fa-hand-paper-o, i.fa.fa-hand-scissors-o {
    font-size: 50px;
}

#font_result {
    font-size: 100px;
}

.choice, .choose{
    font-size: 25px;
}

/* Date */

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}